* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 60px 50px;
    column-gap: 50px;
    background-color: #292232;
}

header img {
    max-height: 150px;
}

h1 {
    font-size: 3em;
    color: white 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}
nav ul {
    display: flex;
    column-gap: 100px;
    list-style-type: none;
}
nav li {
    font-size: 1.2em;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 410px);
}
.promotion-banner {
    display: grid;
    border-top: 1px solid #292232;
    height: 70%;
    grid-template-columns: 220px 440px 220px;
    justify-content: center;
    padding: 50px;
}

.card {
    background-color: #292232;
    -webkit-column-break-inside: avoid;
    color: white;
    border: 1px solid white;
}
.card span {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.card:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    
}
.card:first-child:hover {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1s ease-out;
}


.card:nth-child(2) {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    background-color: transparent;
    row-gap: 2px;
}
.card:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:nth-child(3):hover {
    transform: rotate3d(0, 1, 0, -360deg);
    transition: 1s ease-out;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #292232;

}

.row:first-child:hover {
    transform: rotate3d(1, 0, 0, -360deg);
    transition: 1s ease-out;
}

.row:nth-child(2):hover {
    transform: rotate3d(1, 0, 0, 360deg);
    transition: 1s ease-out;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    column-gap: 50px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0px 50px;
    row-gap: 10px;
}
article p {
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #292232;
    height: 50px;
    padding: 40px 50px 40px 50px;
    column-gap: 50px;
}

footer img {
    max-height: 80px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    text-align: center;
    color: white;
}